@media only screen and (max-width: 1200px) {
  .client {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .top-header .right {
    display: inline-block;
  }
  .top-header .right li a {
    padding: 10px 6px;
  }
  .carousel-inner .slide-text {
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 20px;
  }
  .line-header {
    padding: 20px 0 10px 0;
  }
  .line-header .navbar-collapse li:last-child a {
    padding-right: 22px;
  }
  .blog .img-blog {
    width: 41%;
    float: left;
  }
  .blog .info-blog {
    width: 59%;
    padding: 14px;
    float: right;
  }
  .blog .info-blog p {
    padding-bottom: 10px;
  }
  .left-company-info ul {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
  }
  .left-company-info ul li {
    line-height: 26px;
  }
  .stay .form-control {
    width: 320px;
  }
  .timeline .nav-tabs .line {
    width: 40px;
  }
  .jobs .jobs-block-info span {
    margin: 0;
  }
  .jobs .jobs-block-info p {
    margin: 0;
  }
  .container .welcome-our .col .progress-bar span {
    max-width: 100%;
  }
  footer .footer-bloc-3 .twiter span {
    margin-left: 30px;
  }
  footer .footer-bloc-3 .twiter p {
    margin: 0;
  }
  footer .copyright .right-footer li a {
    padding: 8px;
  }
  footer .f-main {
    padding-bottom: 0px;
  }
  footer .f-main .footer-bloc-4 img {
    max-width: 75%;
  }
  footer .f-main .footer-bloc-4 a {
    margin-right: 0px;
  }
}
@media only screen and (max-width: 992px) {
  .top-header .container .left p {
    padding: 12px 0 0 0;
  }
  .row-menu {
    text-align: center;
  }
  .row-menu .logo-img-big {
    float: none;
  }
  .row-menu .menu-top {
    float: none;
  }
  .dlog-block {
    text-align: center;
  }
  .company-inform .company-info {
    text-align: center;
  }
  .company-inform .right-company-info {
    padding-top: 30px;
  }
  .left-company-info:last-child {
    padding-top: 20px;
  }
  .showcase-website {
    padding-top: 30px;
  }
  .client .client-line {
    padding-top: 0;
  }
  .client .client-line .cl {
    padding: 20px;
  }
  .client .client-line .cl:first-child {
    border: none;
  }
  .blog-line {
    padding-left: 50px;
    padding-right: 50px;
  }
  .blog-line .info-blog {
    padding: 42px;
  }
  .blog-line .blog-post-line {
    padding-bottom: 30px;
  }
  .carousel {
    height: 40%;
  }
  .welcome {
    text-align: center;
  }
  .timeline {
    text-align: center;
  }
  .timeline .nav-tabs .line {
    width: 25px;
  }
  .jobs-block {
    text-align: center;
  }
  .jobs-block .jobs-img {
    padding-bottom: 10px;
  }
  .timeline .nav-tabs {
    background-color: #fff;
  }
  .timeline .nav-tabs li {
    border-bottom: none;
  }
  .timeline .nav-tabs li a {
    font-size: 17px;
  }
  .timeline .nav-tabs .active a {
    font-size: 17px;
  }
  .our-brands {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .our-brands .partners img {
    padding: 25px 35px;
  }
  .lci {
    padding: 10px 0;
  }
  footer .copyright {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  footer .footer-main {
    text-align: center;
  }
  .header-info {
    text-align: center;
  }
  .header-info .right {
    float: none;
  }
  .header-info .right li {
    border: none;
  }
  .header-info .right li:last-child {
    border-right: 0px solid #b7cc5e;
  }
  .team {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .team .team-img-blok {
    padding-top: 30px;
    text-align: center;
  }
  .team .team-img-blok .team-blok {
    padding-bottom: 30px;
  }
  .team .team-img-blok .team-blok p {
    margin-top: 8px;
  }
}
@media screen and (width: 1024px) {
  .blog .blog-line .info-blog {
    padding: 2px 31px;
  }
  .blog .blog-line .info-blog h4 {
    margin-bottom: 10px;
  }
  .blog .blog-post-line {
    height: 160px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .carousel-inner .slide-text {
    top: 5px;
    left: 25%;
  }
  footer .footer-bloc-4 .img-tab-f ul {
    float: left;
  }
  footer .footer-bloc-4 .img-tab-f ul a {
    margin-right: 30px;
  }
  footer .footer-bloc-4 .img-tab-f img {
    max-width: 100%;
  }
  footer .copyright {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  footer .left-footer {
    padding-bottom: 10px;
  }
  .navbar-nav {
    margin-left: 5%;
  }
}
@media only screen and (max-width: 768px) {
  .row-menu .logo-img-big {
    padding-top: 10px;
    position: absolute;
  }
  .line-header {
    padding-top: 5px;
  }
  .line-header .menu-top .navbar {
    position: relative;
    background-color: transparent;
    border-color: transparent;
    margin-top: 0;
  }
  .line-header .navbar-collapse li a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .line-header .navbar-collapse li:last-child a {
    padding-bottom: 10px;
  }
  .line-header .navbar-collapse li:first-child a {
    padding-top: 10px;
  }
  .nav {
    background-color: rgba(161, 190, 45, 0.35);
    width: 100%;
    margin: 0;
  }
  .timeline {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .timeline .nav-tabs li a {
    padding: 20px 15px;
  }
  .timeline .info-for-tab {
    padding-top: 0;
  }
  .title h1,
  .title-white h1 {
    font-size: 25px;
  }
  p {
    font-size: 12px !important;
    line-height: 18px !important;
  }
  .welcome {
    padding-top: 20px;
  }
  .samsung img {
    margin-bottom: 25px;
  }
  .welcome-to-corporacia {
    padding-bottom: 40px;
    padding-top: 30px;
  }
  .welcome-to-corporacia .dlog-block .info-post h3 {
    margin-top: 10px;
  }
  .welcome-to-corporacia .dlog-block .info-post hr {
    margin-top: 5px;
  }
  .welcome-to-corporacia .dlog-block .info-post p {
    margin-top: 5px;
  }
  .welcome-to-corporacia .welcome-img {
    padding-top: 15px;
  }
  .welcome-to-corporacia .dlog-block {
    margin-top: 0;
  }
  .stay .form-control {
    width: 250px;
  }
  .blog {
    padding: 30px 0;
  }
  .blog .title {
    text-align: center;
    padding-bottom: 20px;
  }
  .blog .blog-line {
    padding: 0 15px;
  }
  .blog .blog-line .info-blog {
    padding: 34px 31px;
  }
  .blog .blog-line .blog-post-line {
    padding-bottom: 0;
  }
  .client {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .client .client-line {
    padding-top: 20px;
  }
  .client .client-line .cl:nth-child(1) {
    border-bottom: 1px solid #ebebeb;
  }
  .company-inform {
    padding: 30px 0;
  }
  .blog .info-blog p {
    margin: 0;
    padding-bottom: 5px;
  }
  .blog .info-blog h4 {
    margin: 5px 0 11px 0;
  }
  footer {
    padding-top: 25px;
  }
  footer .f-main {
    text-align: center;
  }
  footer .f-main .twiter {
    padding-bottom: 15px;
  }
  footer .f-main .footer-bloc-4 .footer-h4 {
    float: none;
  }
  footer .f-main .footer-bloc-4 a {
    margin-right: 10px;
    margin-left: 10px;
  }
  .left-footer {
    padding: 0 0 10px 0;
  }
}
@media screen and (width: 768px) {
  .line-header {
    padding-top: 18px;
  }
  .row-menu .logo-img-big {
    display: none;
  }
  .blog .blog-line .info-blog {
    padding: 59px 31px;
  }
  .blog .blog-post-line {
    padding-top: 20px;
  }
  .carousel-inner .slide-text {
    top: 80px;
    left: 20%;
  }
}
@media only screen and (min-width: 420px) and (max-width: 568px) {
  .top-header .right li {
    padding: 0;
  }
  .top-header .container .left p {
    padding: 0;
  }
  .carousel {
    height: 75%;
  }
  .left-company-info ul li {
    font-size: 12px;
    line-height: 18px;
  }
  .carousel-inner .slide-text {
    top: 60px;
  }
  .carousel-inner .slide-text h1 {
    font-size: 20px;
  }
  .carousel-inner .slide-text h1 span {
    font-size: 18px;
  }
  .carousel-inner .slide-text p {
    font-size: 11px;
    line-height: 13px;
  }
  .carousel-inner .slide-text a {
    padding: 5px 16px;
  }
  .carousel-inner .slide-text hr {
    margin-bottom: 0;
    margin-top: 0;
  }
  .blog .img-blog {
    height: 200px;
  }
  .blog .blog-line .info-blog {
    padding: 30px 31px;
  }
  .blog .blog-line .info-blog h4 {
    margin: 2px 0 0px 0;
  }
  footer .f-main .footer-bloc-4 img {
    width: 100%;
  }
  footer .f-main .footer-bloc-4 a {
    margin-right: 8px;
    margin-left: 8px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .stay {
    padding-bottom: 25px;
  }
  .stay .form-control {
    width: 200px;
    height: 35px;
  }
  .stay .buy-btn .btn {
    padding: 6px 8px;
  }
  .welcome-our {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 480px) {
  .top-header .header-info .right li {
    border: none;
    padding: 3px;
  }
  .top-header .header-info .left p {
    padding: 3px;
  }
  .welcome-our {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .welcome-our .container {
    text-align: center;
  }
  .showcase-website {
    padding-top: 30px;
  }
  .blog {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .blog .blog-line {
    padding-left: 0px;
    padding-right: 0px;
  }
  footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  footer .footer-main ul {
    padding-left: 0;
  }
  footer .copyright {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  footer .f-main .footer-bloc-4 .footer-h4 {
    padding-bottom: 10px;
    width: 100%;
  }
  .company-inform {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .company-inform .company-info {
    padding-top: 20px;
  }
  .client {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .client .client-line {
    padding-top: 20px;
    text-align: center;
  }
  .client .client-line .cl {
    padding: 15px;
  }
  .client .client-line .cl:nth-child(1) {
    border-bottom: 1px solid #ebebeb;
  }
  .stay {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .stay .buy {
    display: none;
  }
  .blog .info-blog p {
    margin: 0;
    padding-bottom: 5px;
  }
  .blog .info-blog h4 {
    margin: 5px 0 11px 0;
  }
}
@media screen and (max-width: 320px) {
  .container-fluid .navbar-collapse {
    margin-right: 0px;
    margin-left: 0px;
  }
  .row-menu .logo-img-big img {
    max-width: 90%;
  }
  .top-header .right {
    padding: 0 0 0 30px;
  }
  .blog .title {
    text-align: center;
    padding-bottom: 20px;
  }
  .blog .blog-line {
    padding-top: 0px;
  }
  .blog .blog-line .blog-post-line {
    text-align: center;
  }
  .blog .blog-line .info-blog {
    padding: 15px;
    text-align: center;
    width: 100%;
  }
  .blog .blog-line .info-blog p {
    margin: 0;
    padding-bottom: 5px;
  }
  .blog .blog-line .info-blog h4 {
    margin: 8px;
  }
  .blog .blog-line .img-blog {
    width: 100%;
  }
  .header-info .right li:last-child {
    padding-left: 30px;
    padding-right: 30px;
  }
  .client .opinions-info p {
    text-align: left;
  }
  .carousel-inner .slide-text {
    top: 60px;
  }
  .carousel-inner .slide-text h1 {
    font-size: 20px;
  }
  .carousel-inner .slide-text h1 span {
    font-size: 18px;
  }
  .carousel-inner .slide-text p {
    font-size: 11px;
    line-height: 13px;
  }
  .carousel-inner .slide-text a {
    padding: 5px 16px;
  }
  .carousel-inner .slide-text hr {
    margin-bottom: 0;
    margin-top: 0;
  }
  .timeline .nav-tabs li a {
    font-size: 16px;
  }
  .timeline .nav-tabs .active a {
    font-size: 16px;
  }
  .carousel {
    height: 60%;
  }
}
