/* SBROS*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
body {
  background-color: white;
  font-family: Montserrat;
}
img {
  max-width: 100%;
}
a:hover {
  text-decoration: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
ol {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
input:focus,
input:hover {
  outline: none;
}
input:-webkit-input-placeholder {
  color: #fff !important;
}
.clear {
  clear: both;
}
footer {
  background-color: #141414;
  padding-top: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
}
footer p {
  color: #636363;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
footer .footer-bloc-4 {
  text-align: center;
}
footer .footer-bloc-4 .f-img {
  max-height: 98%;
  position: relative;
}
footer .footer-bloc-4 .f-img:before {
  display: block;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  content: '';
  width: 100%;
  height: 95%;
  background-color: rgba(161, 190, 45, 0.5);
  position: absolute;
}
footer .footer-bloc-4 .f-img:after {
  opacity: 0;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  right: 0;
  content: '';
  transition: all 0.4s ease-in-out;
  position: absolute;
  font-family: FontAwesome;
  font-size: 70px;
}
footer .footer-bloc-4 .f-img:hover {
  color: #fff;
}
footer .footer-bloc-4 .f-img:hover:after {
  opacity: 1;
}
footer .footer-bloc-4 .f-img:hover:before {
  opacity: 1;
}
footer .footer-bloc-4 .footer-h4 {
  color: white;
  float: left;
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 30px;
}
footer .footer-bloc-4 .img-tab-f {
  padding-left: 0;
  padding-right: 0;
}
footer .footer-bloc-4 .hover-info {
  top: 0;
  padding: 35px 35px;
  width: 5px;
}
footer .footer-bloc-4 ul {
  padding-left: 0;
}
footer .footer-bloc-4 ul li {
  display: inline-block;
}
footer .footer-bloc-4 a {
  display: block;
  margin-bottom: 17px;
  margin-right: 14px;
  transition: all 0.2s ease-in-out;
}
footer .footer-bloc-4 .footer-button {
  color: white;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 25px;
  border: 1px solid #4d5051;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}
footer .footer-bloc-4 .footer-button:hover {
  background-color: #141414;
  border: 1px solid #141414;
}
.copyright {
  padding-bottom: 30px;
  padding-top: 30px;
}
.copyright ul li {
  display: inline-block;
}
.copyright ul li a {
  color: #909090;
}
.no-p {
  padding-left: 0;
  padding-right: 0;
}
.line-header {
  padding: 90px 0 75px 0;
}
.line-header .row-menu {
  width: 100%;
  vertical-align: middle;
}
.line-header .logo-img-big {
  float: left;
}
.line-header .shop-i {
  text-align: right;
  padding-right: 0;
  font-size: 13px;
}
.line-header .shop-i ul {
  padding: 0;
  padding-top: 10px;
}
.line-header .shop-i ul li {
  display: inline-block;
}
.line-header .shop-i ul li:first-child {
  padding-right: 30px;
}
.line-header .shop-i a {
  color: #141414;
  text-decoration: none;
}
.line-header .shop-i a:hover {
  color: #eeb013;
}
.line-header .menu-top {
  float: left;
  padding-left: 0;
}
.line-header .menu-top .navbar {
  background-color: white;
  border-color: white;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0;
}
.line-header .menu-top .container-fluid {
  padding: 0;
}
.line-header .navbar-collapse {
  padding: 0;
}
.line-header .navbar-collapse li a {
  padding: 1px 31px;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  color: #141414;
  text-transform: uppercase;
  transition: all 0.2s;
}
.line-header .navbar-collapse li a:hover {
  color: #eeb013;
  padding-bottom: 25px;
  border-bottom: 2px solid #eeb013;
}
.line-header .navbar-collapse li:last-child a {
  padding-right: 0;
}
.line-header .navbar-collapse li .active {
  color: #eeb013;
  padding-bottom: 25px;
  border-bottom: 2px solid #eeb013;
}
.big-img a {
  display: block;
}
.big-img .big-img-f {
  position: relative;
}
.big-img .big-img-f .info-post {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate3d(-50%, -50%, 0);
}
.big-img .big-img-f .info-post h3 {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
}
.big-img .big-img-f .info-post h2 {
  color: #fff;
  padding-top: 25px;
  font-size: 130px;
  font-weight: 700;
  padding-bottom: 40px;
  text-transform: uppercase;
}
.big-img .big-img-f .btn a {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 15px 48px;
  text-transform: uppercase;
  border: 2px solid #fff;
  transition: all 0.2s ease-in-out;
}
.big-img .big-img-f .btn a:hover {
  background-color: #eeb013;
  border: 2px solid #eeb013;
}
.big-img .mini-bg {
  position: relative;
}
.big-img .mini-bg:last-child {
  padding-top: 30px;
}
.big-img .mini-bg .info-post {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate3d(-50%, -50%, 0);
}
.big-img .mini-bg .info-post a {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.big-img .mini-bg .info-post a:hover {
  color: #eeb013;
}
.new-arrival {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}
.new-arrival a {
  color: #141414;
  transition: all 0.2s ease-in-out;
}
.new-arrival a i {
  font-size: 2em;
  border: 2px solid #141414;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  line-height: 2.5;
}
.new-arrival a:hover {
  color: #eeb013;
}
.new-arrival .fai-info {
  padding-top: 30px;
}
.new-arrival .fai-info h4 {
  color: #141414;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.new-arrival .fai-info a {
  padding: 0;
  margin-bottom: 20px;
}
.new-arrival .fai-info p {
  color: #6f6f6f;
  font-family: CrimsonText;
  font-size: 16px;
  font-style: italic;
  line-height: 24px;
}
.tab-product {
  text-align: center;
  padding-bottom: 100px;
}
.tab-product .big-button {
  padding: 15px 60px;
  color: #141414;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #ececec;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
.tab-product .big-button:hover {
  background-color: #eeb013;
  border: 2px solid #eeb013;
}
.tab-product .nav-tabs {
  padding-top: 95px;
  padding-bottom: 65px;
  text-align: center;
  border-bottom: none;
  display: inline-block;
}
.tab-product .nav-tabs li a {
  margin: 5px;
  color: #141414;
  background-color: #fff;
  border: none;
  text-transform: uppercase;
}
.tab-product .nav-tabs li a:hover {
  color: #eeb013;
  background-color: #fff;
  border: none;
}
.tab-product .nav-tabs li a:active {
  color: #eeb013;
  background-color: #fff;
  border: none;
}
.tab-product .nav-tabs li a:focus {
  color: #eeb013;
  background-color: #fff;
  border: none;
}
.tab-product .nav-tabs .active a {
  color: #eeb013;
  background-color: #fff;
  border: none;
  line-height: 20px;
}
.tab-product .nav-tabs .active a:before {
  content: '';
  background-color: #eeb013;
  width: 10px;
  height: 10px;
  top: 50px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
}
.tab-product .img {
  display: block;
}
.tab-product .info-pr {
  text-align: left;
}
.tab-product .info-pr h4 {
  color: #141414;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 20px;
  text-transform: uppercase;
}
.tab-product .info-pr a {
  color: #141414;
  display: block;
}
.tab-product .info-pr a:hover {
  color: #eeb013;
}
.tab-product .info-pr span {
  font-family: CrimsonText;
  font-size: 18px;
  font-style: italic;
  color: #141414;
}
.tab-product .info-pr .x-text {
  text-decoration: line-through;
  color: #6f6f6f;
}
.tab-product .line-product .pr {
  display: block;
}
.tab-product .line-product .pr:before {
  display: block;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  position: absolute;
}
.tab-product .line-product .pr:hover:before {
  opacity: 1;
}
.tab-product .line-product .pr:hover:after {
  opacity: 1;
}
.tab-product .line-product .pr:after {
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  right: 0;
  content: '';
  transition: all 0.4s ease-in-out;
  position: absolute;
}
#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}
.trend {
  padding-top: 80px;
  padding-bottom: 100px;
}
.trend .sale {
  position: relative;
}
.trend .tr-bottom {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate3d(-50%, -50%, 0);
}
.trend .tr-bottom a {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.trend .tr-text {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate3d(-50%, -50%, 0);
  color: #fff;
}
.trend .tr-text a {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  display: block;
}
.trend .tr-text .a70 {
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
}
.line-vay {
  padding-bottom: 270px;
  padding-top: 80px;
}
.line-vay .info-fashion {
  text-align: left;
}
