/* SBROS*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
body {
  background-color: white;
  font-family: Montserrat;
}
img {
  max-width: 100%;
}
a:hover {
  text-decoration: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
ol {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
input:focus,
input:hover {
  outline: none;
}
input:-webkit-input-placeholder {
  color: #fff !important;
}
.clear {
  clear: both;
}
footer {
  background-color: #202020;
  padding-top: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
}
footer a {
  transition: all 0.2s ease-in-out;
}
footer .footer-bloc {
  text-align: left;
}
footer .footer-h4 {
  width: 100%;
  float: left;
  font-size: 12px;
  text-transform: uppercase;
  padding-bottom: 30px;
  color: #fff;
  position: relative;
}
footer .yelow-line:after {
  content: '';
  width: 19px;
  height: 3px;
  background-color: #eeb013;
  position: absolute;
  top: 23px;
  left: 0;
}
footer .footer-line {
  width: 1px;
  height: 261px;
  background-color: #2e2e2e;
  position: absolute;
  right: 0;
}
footer .footer-menu {
  display: inline-block;
}
footer .b1 p {
  color: #636363;
  font-size: 12px;
  line-height: 24px;
  padding-bottom: 30px;
}
footer li a {
  font-size: 13px;
  line-height: 36px;
  color: #636363;
  text-transform: uppercase;
}
footer li a:hover {
  color: #eeb013;
}
footer .b3 {
  color: #636363;
  font-size: 11px;
  line-height: 18px;
}
footer .b3 p {
  padding-bottom: 15px;
  padding-top: 35px;
}
footer .b3 a {
  color: #636363;
}
footer .b3 a:hover {
  color: #eeb013;
}
footer .b4 ul {
  padding-left: 0;
}
footer .b4 ul li {
  display: inline-block;
  padding: 0 8px 8px 0;
}
footer .b4 .img-tab-f {
  padding-left: 0;
  padding-right: 0;
}
footer .b4 .f-img {
  max-height: 98%;
  display: block;
  position: relative;
}
footer .b4 .f-img:before {
  display: block;
  opacity: 0;
  ansition: all 0.3s ease-intr-out;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #eeb013;
  position: absolute;
}
footer .b4 .f-img:after {
  opacity: 0;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
  right: 0;
  content: '\f002';
  transition: all 0.3s ease-in-out;
  position: absolute;
  font-family: FontAwesome;
  font-size: 16px;
}
footer .b4 .f-img:hover {
  color: #fff;
}
footer .b4 .f-img:hover:after {
  opacity: 1;
}
footer .b4 .f-img:hover:before {
  opacity: 1;
}
footer .copyright {
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: left;
  color: #3a3a3a;
  font-size: 11px;
  text-transform: uppercase;
}
footer .right-footer {
  float: right;
}
footer .right-footer ul {
  padding: 0;
}
footer .right-footer ul li {
  display: inline-block;
  padding: 0 15px;
}
footer .left-footer {
  padding-top: 15px;
}
.no-p {
  padding-left: 0;
  padding-right: 0;
}
.line-header {
  padding: 90px 0 68px 0;
}
.line-header .row-menu {
  width: 100%;
  vertical-align: middle;
}
.line-header .logo-img-big {
  float: left;
}
.line-header .shop-i {
  text-align: right;
  padding-right: 0;
  font-size: 13px;
}
.line-header .shop-i ul {
  padding: 0;
  padding-top: 10px;
}
.line-header .shop-i ul li {
  display: inline-block;
  margin-top: 8px;
}
.line-header .shop-i ul li:first-child {
  padding-right: 30px;
}
.line-header .shop-i a {
  color: #141414;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.line-header .shop-i a:hover {
  color: #eeb013;
}
.line-header .menu-top {
  float: left;
  padding-left: 230px;
}
.line-header .menu-top .navbar {
  background-color: white;
  border-color: white;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0;
}
.line-header .menu-top .container-fluid {
  padding: 0;
}
.line-header .navbar-collapse {
  padding: 0;
}
.line-header .navbar-collapse li a {
  padding: 0;
  margin: 0px 60px;
  font-size: 14px;
  font-weight: 400;
  color: #141414;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.line-header .navbar-collapse li a:after {
  content: '';
  width: 48px;
  height: 2px;
  opacity: 0;
  background-color: #eeb013;
  position: absolute;
  top: 50px;
  left: 0;
}
.line-header .navbar-collapse li a:hover:after {
  opacity: 1;
}
.line-header .navbar-collapse li a:hover {
  color: #eeb013;
  opacity: 1;
}
.line-header .navbar-collapse li a:first-child {
  margin-left: 0;
}
.line-header .navbar-collapse li:last-child a {
  padding-right: 0;
}
.line-header .navbar-collapse li .active {
  color: #eeb013;
}
.big-img .big {
  overflow: hidden;
}
.big-img a {
  display: block;
}
.big-img img {
  transition: all 3s ease-in-out;
}
.big-img img:hover {
  transform: scale(1.3);
}
.big-img .big-img-f {
  position: relative;
  overflow: hidden;
}
.big-img .big-img-f .info-post {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 51%;
  width: 100%;
  display: block;
  transform: translate3d(-50%, -50%, 0);
}
.big-img .big-img-f .info-post h3 {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
}
.big-img .big-img-f .info-post h2 {
  color: #fff;
  padding-top: 25px;
  font-size: 130px;
  font-weight: 700;
  padding-bottom: 40px;
  line-height: 100px;
  text-transform: uppercase;
}
.big-img .big-img-f .btn a {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 15px 48px;
  text-transform: uppercase;
  border: 2px solid #fff;
  transition: all 0.2s ease-in-out;
}
.big-img .big-img-f .btn a:hover {
  background-color: #eeb013;
  border: 2px solid #eeb013;
}
.big-img .mini-bg {
  position: relative;
  overflow: hidden;
}
.big-img .mini-bg:last-child {
  margin-top: 30px;
}
.big-img .mini-bg img {
  transition: all 3s ease-in-out;
}
.big-img .mini-bg img:hover {
  transform: scale(1.3);
}
.big-img .mini-bg .info-post {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate3d(-50%, -50%, 0);
}
.big-img .mini-bg .info-post a {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.big-img .mini-bg .info-post a:hover {
  color: #eeb013;
}
.new-arrival {
  padding-top: 80px;
  padding-bottom: 90px;
  text-align: center;
}
.new-arrival a {
  color: #141414;
  transition: all 0.2s ease-in-out;
}
.new-arrival a i {
  font-size: 2em;
  border: 2px solid #141414;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  line-height: 2.5;
}
.new-arrival a i:hover {
  color: #eeb013;
  border-color: #eeb013;
}
.new-arrival .fai-info {
  padding-top: 38px;
}
.new-arrival .fai-info h4 {
  color: #141414;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.new-arrival .fai-info a {
  padding: 0;
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out;
}
.new-arrival .fai-info a:hover {
  color: #eeb013;
}
.new-arrival .fai-info p {
  color: #6f6f6f;
  font-family: CrimsonText;
  font-size: 16px;
  font-style: italic;
  line-height: 24px;
}
.btn-in-tab {
  text-align: center;
  display: block;
  padding-bottom: 78px;
}
.btn-in-tab .big-button {
  padding: 15px 60px;
  color: #141414;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #ececec;
  text-decoration: none;
  display: initial;
}
.tab-product {
  text-align: center;
}
.tab-product .tab-content {
  padding-top: 50px;
}
.tab-product .nav-tabs {
  text-align: center;
  border-bottom: none;
  display: inline-block;
}
.tab-product .nav-tabs li a {
  margin: 5px;
  color: #141414;
  background-color: #fff;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
}
.tab-product .nav-tabs li a:hover {
  color: #eeb013;
  background-color: #fff;
  border: none;
}
.tab-product .nav-tabs li a:active {
  color: #eeb013;
  background-color: #fff;
  border: none;
}
.tab-product .nav-tabs li a:focus {
  color: #eeb013;
  background-color: #fff;
  border: none;
}
.tab-product .nav-tabs .active a {
  color: #eeb013;
  background-color: #fff;
  border: none;
  line-height: 20px;
}
.tab-product .nav-tabs .active a:before {
  content: '';
  background-color: #eeb013;
  width: 10px;
  height: 10px;
  top: 50px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
}
.tab-product .img {
  display: block;
}
.tab-product .info-pr {
  text-align: left;
}
.tab-product .info-pr h4 {
  color: #141414;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 15px;
  text-transform: uppercase;
}
.tab-product .info-pr a {
  color: #141414;
  display: block;
  transition: all 0.2s ease-in-out;
}
.tab-product .info-pr a:hover {
  color: #eeb013;
}
.tab-product .info-pr span {
  font-family: CrimsonText;
  font-size: 18px;
  font-style: italic;
  color: #141414;
}
.tab-product .info-pr .x-text {
  text-decoration: line-through;
  color: #6f6f6f;
}
.tab-product .line-product .pr {
  position: relative;
  display: block;
}
.tab-product .line-product .pr:before {
  display: block;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  position: absolute;
}
.tab-product .line-product .pr:hover:before {
  opacity: 1;
}
.tab-product .new {
  position: absolute;
  top: 8px;
  left: 23px;
  font-size: 10px;
  font-weight: 700;
  padding: 10px 8px;
  border: 2px solid #141414;
}
#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}
.trend {
  padding-top: 75px;
  padding-bottom: 100px;
}
.trend .sale {
  position: relative;
  overflow: hidden;
}
.trend .sale img {
  transition: all 3s ease-in-out;
}
.trend .sale img:hover {
  transform: scale(1.3);
}
.trend .sale .sale-img {
  overflow: hidden;
}
.trend .tr-bottom {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate3d(-50%, -50%, 0);
}
.trend .tr-bottom a {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: 4px solid;
  padding: 10px 40px;
  transition: all 0.2s ease-in-out;
}
.trend .tr-bottom a:hover {
  color: #141414;
  background-color: #eeb013;
  border-color: #eeb013;
}
.trend .tr-bottom a:focus {
  text-decoration: none;
}
.trend .tr-text {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate3d(-50%, -50%, 0);
  color: #fff;
}
.trend .tr-text a {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  display: block;
}
.trend .tr-text a:focus {
  text-decoration: none;
}
.trend .tr-text .a70 {
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
}
.fashion {
  padding-top: 80px;
  padding-bottom: 290px;
}
.line-vay .info-fashion {
  text-align: left;
  padding-top: 20px;
}
.line-vay .info-fashion span {
  font-size: 14px;
}
.line-vay .info-fashion span a {
  color: #eeb013;
}
.line-vay .info-fashion a {
  transition: all 0.2s ease-in-out;
}
.line-vay .info-fashion a:hover {
  color: #eeb013;
  text-decoration: underline;
}
.line-vay .info-fashion p {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #6f6f6f;
  margin-bottom: 65px;
}
.line-vay .clickable {
  margin: 0;
  position: absolute;
  top: 80%;
  left: 35%;
}
.line-vay .fash {
  display: block;
}
.line-vay h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
.line-vay .info-line {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  margin: 15px 0;
  padding: 9px 0;
}
.line-vay .info-line a {
  color: #6f6f6f;
  font-size: 12px;
}
.line-vay .info-line a:hover {
  text-decoration: none;
}
.line-vay .date {
  position: absolute;
  background-color: #eeb013;
  text-align: center;
  top: 62.6%;
  left: 82%;
}
.line-vay .date a {
  color: #fff;
  font-family: CrimsonText;
  font-size: 16px;
  font-style: italic;
  text-transform: uppercase;
  padding: 9px 15px;
  display: block;
}
.line-vay .date a:hover {
  color: #fff;
  text-decoration: none;
}
.line-vay .button-fashion {
  font-size: 14px;
  font-weight: 400;
  color: #141414;
  text-transform: uppercase;
  border: 2px solid #e4e4e4;
  padding: 15px 38px;
  transition: all 0.2s ease-in-out;
}
.line-vay .button-fashion:hover {
  background-color: #eeb013;
  border: 2px solid #eeb013;
}
.head-block {
  height: 700px;
  width: 100%;
  background-color: #1d1d1d;
  position: relative;
}
.line-header .menu-top .navbar {
  background-color: #1d1d1d;
  color: #fff;
  border-color: #1d1d1d;
}
.line-header .navbar-collapse li a {
  color: #fff;
}
.line-header .shop-i a {
  color: #fff;
}
