.link-in-post{
	display: inline-block;
	img{
		display: inline-block;
	}
}
.main-blog{
	.blog-post{
		padding-bottom: 100px;
	}
	.button-in-blog{
		float: right;
	}
	.number{
		width: 100%;
		text-align: center;
	}
	.information-post .h-entry{
		font-size: 26px;
	}
	.link-post{
		position: relative;
		.link-in-post{
			position: relative;
		}
		.download-link{
			color: white;
			font-family: CrimsonText;
			font-size: 24px;
			font-style: italic;
			line-height: 30px;
			position: absolute;
			top: 65px;
    		left: 80px;
		}
	}
}
