.link-in-post{
	display: inline-block;
	img{
		display: inline-block;
	}
}
.main-blog{
	.blog-post{
		padding-bottom: 100px;
	}
	.button-in-blog{
		float: right;
	}
	.number{
		width: 100%;
		text-align: center;
	}
}