
footer{
	background-color: #202020;
	padding-top: 60px;
	margin-top: 0px;
	margin-bottom: 0px;
	.footer-bloc{
		text-align: left;
	}
	.footer-h4{
		    width: 100%;
		color: white;
		float: left;
		font-size: 12px;
		text-transform: uppercase;
		padding-bottom: 30px;
	}
	.footer-menu{
		display: inline-block;
	}
}