@media only screen and (max-width: 1200px){
		/*home*/
	.line-header {
		.menu-top{
			padding-left: 0;
		}
	} 
	.line-header{
		padding: 30px 0;
	}
	.new-arrival{
		margin-bottom: 50px;
	}
	.btn-in-tab{
		margin-bottom: 40px;
	}
	.owl-item{
		padding: 0 10px;
	}
	.trend {
		margin-bottom: 75px;
		.tr-text {
			.a70{
				font-size: 65px;
			}
		}
		.tr-bottom {
			a{
	    		font-size: 26px;
			}
		}
	}
	.tab-product {
		.tab-content{
			padding-top: 30px;
		}
	}
	.fashion{
		margin-bottom: 120px;
	}
	.line-vay {
		.info-fashion {
			p{
	 			margin-bottom: 30px;
			}
		}
	}
	footer {
		.right-footer {
			text-align: right;
			ul li{
				padding: 0 9px;
			}
		}
		.left-footer{
			span{
				font-size: 9px;
			}
		}
	}
	/*home*/
	/*shop*/
	.product-base {
	    margin-top: 80px;
	    margin-bottom: 80px;
	}
	body {
		.header-absolute {
			.line-header .menu-top{
				padding-left: 0;
			}
		}
		.prod-top .right-settings span:last-child:before{
			left: 81%;
		}
	}
	.form-search input {
    	width: 250px;
	}
	.new1{
	    top: 5px;
	    left: 180px;
	}
	.size-line{
		padding-top: 10px;
    	padding-bottom: 10px;
	}
	.widget {
		.sale{
			.info-pr h4{
				font-size: 10px;
			}
			.f-img{
				margin-right: 10px;
			}
			li{
				padding-bottom: 15px;
    			padding-top: 15px;
    			display: inline-flex;
			}
		}
	}
	.sidebar .by-element h2{
		line-height: 50px;
	}
	/*shop*/
}

@media only screen and (max-width: 992px) {
		/*home*/
	.big-img .info-post {
		h2{
			font-size: 80px;
		}
		h3{
			font-size: 45px;
		}
	}
	.tr{
		display: block;
	}
	.fashion .owl-carousel .owl-item{
	    margin-left: 0;
	    padding: 0;
	}
	.line-vay {
		.metapost a{
			margin-right: 5px;
		}
		.date {
			top: -6%;
	    	left: 82%;
	    	a{
				padding: 2px 9px;
				font-size: 12px;
			}
		}
	}
	.trend {
		.tr-bottom a{
			font-size: 15px;
		}
		.tr-text .a70{
			font-size: 45px;
		}
	}
	.info-base{
		text-align: center;
		.fash{
			img{
				display: inline-block;
			}
		}
		&:last-child{
			margin-top: 40px;
			width: 100%;
		}
	}
	footer .footer-block{
		border:none;
	}

		/*home*/
		/* shop*/
	.form-search input{
		height: 40px;
	}
	.sidebar {
		.price{
			margin-bottom: 0;
		}
		.by-element {
			&:before{
				top: 15px;
			}
			h2{
				font-size: 20px;
				line-height: 40px;
			}
			.right-menu li a{
				padding-bottom: 10px;
	    		padding-top: 10px;
			}
		}
	}
	.prod-main{
		padding-left: 0;
		padding-right: 0;
		.product-el{
			margin-bottom: 80px;
			&:nth-child(3n+1){
				clear: none;
			}
		}
	}
	.big-product-block{
		margin-left: 0;
		margin-right: 0;
	}
	.new1{
		left: 125px;
	}
	.widget {
		.button-filter{
			padding: 5px 57px;
		}
		.sale {
			.f-img{
				margin-right: 0;
			}
			li{
				display: block;
				padding-bottom: 5px;
	    		padding-top: 5px;
	    		img{
	    			width: 80%;
	    		}
	    	}
		}
	}
	.money-line {
	    margin-top: 10px;
	    margin-bottom: 10px;
		.ui-widget-content{
			margin-bottom: 0;
		}
	}
	.size-line {
		li{
			padding: 2px;
		}
		a{
			min-width: 28px;
			padding: 6px 8px;
		}
	}
	.head-block .line-header .menu-top .navbar{
		margin-right: 10px;
    	margin-left: 14px;
	}
		/* shop*/
}

@media screen and (width : 1024px){
		/*home*/
		/*home*/
	
}
@media only screen and (min-width: 768px) and (max-width: 992px){
		/*home*/
	.line-header .navbar-collapse li {
		a{
			margin: 16px 19px;
		}
	}
	.big-img {
		.mini-bg img:hover{
			transform:none;
		}
		img:hover{
			transform:none;
		}
	}
	footer {
		.b3{
			margin-top: 40px;
			p{
				padding-bottom: 10px;
    			padding-top: 25px;
			}
		}
		.b4 {
			margin-top: 40px;
			ul li{
				padding: 10px 20px;
			}
		}
		.right-footer{
			text-align: center;
		}
	}
		/*home*/
}

@media only screen and (max-width: 768px){
		/*home*/
	.line-header {
		.navbar-collapse{
			margin-top: 20px;
		}
		.shop-i{
			margin-right: 75px;
		    position: relative;
		    z-index: 3;
		}
	}
	.navbar-nav{
		margin: 0;
	}
	.navbar-toggle{
		margin-right: -45px;;
	}
	.big-img {
		.big-img-f .btn a{
			padding: 8px 30px;
		}
		.info-post{
			h2{
				font-size: 60px;
				line-height: 30px;
			}
			h3{
				font-size: 30px;
			}
		}
		.mini-bg {
			width: 47%;
			display: inline-block;
			&:last-child{
				float: right;
				margin-top: 0;
			}
			&:first-child{
				float: left;
			}
			.info-post {
				a{
					font-size: 25px;
				}
			}
		}
		.m-i-b{
			margin-top: 20px;
			text-align: center;
		}
		img{
			display: inline-block;
		}
	}
	.new{
		display: none;
	}
	.tab-product {
		.nav-tabs {
			.active a{
				line-height: 17px; 
				&:before{
					display: none;
				}
			}
			li a{
				margin: 0;
			}
		}
		.nav>li>a{
			padding: 10px 7px;
		}
	}
	.big-img img:hover {
	    transform: none;
	}
	.big-img .mini-bg img:hover {
	    transform: none;
	}
	.line-header {
		.logo-img-big {
		    position: relative;
		    z-index: 3;
		}
		.menu-top{
			width: 85%;
		    background-color: transparent;
		    position: absolute;
		    z-index: 2;
		}
		.navbar-collapse{
			margin-left: -2px;
    		width: 113%;
    		position: absolute;
    		top: 60px;
    		z-index: 3;
    		background-color: #fff;
			li {
				a:after{
					display: none;
				}
			}
		}
	}
	.info-base{
		text-align: center;
		margin-bottom: 25px;
		.fash{
			img{
				display: inline-block;
			}
		}
	}
	.new-arrival .icon-info {
    	padding-top: 15px; 
	    padding-bottom: 30px;
	}
	.line-vay {
		.button-fashion{
			padding: 9px 35px;
		}
		.metapost a{
			margin-right: 0px;
    		font-size: 11px;
		}
		.date {
			top: 0;
	    	left: 82%;
	    	a{
				padding: 2px 9px;
				font-size: 12px;
			}
		}
		.info-fashion{
			text-align: center;
		}
	}
	.fashion{
		margin-bottom: 80px;
	}
	.tab-product .nav > li > a{
		font-size: 12px;
	}
	.trend {
		.sale {
			width: 50%;
			text-align: center;
			img{
				display: inline-block;
				&:hover{
					transform: none;
				}
			}
			.sale-img{
				margin-bottom: 20px;
			}
			&:last-child{
				width: 100%;
			}
		}
	}
	.sale-img-50{
		width: 50%;
		display: inline-block;
	}
	.info-pr{
		text-align: center;
	}
	.big-product-block{
		.product-el{
			img{
				width: 100%;
			}
		}
	}
	.new1{
		display: none;
	}
	.product-el{
		img{
			width: 75%;
			display: inline-block;
		}
	}
	footer{
		.footer-block {
			text-align: center;
			margin-bottom: 30px;
		}
		.logo-f{
			display: inline-block;
		}
		.yelow-line:after{
			left: 48%;
		}
		.left-footer{
			text-align: center;
		}
		.right-footer{
			text-align: center;
		}
		.copyright{
			padding: 0;
		}
	}
	.f-img:after{
		display: none;
	}
		/*home*/
		/*shop*/
	.widget{
		margin-top: 25px;
		text-align: center;
		.info-pr{
			text-align: left;
		}
	}
	.sidebar .by-element:before{
		left: 40%;
	}
		/*shop*/
}

@media screen and (width : 768px){
		/*home*/
	.line-header {
		.menu-top .navbar{
			padding-left: 165px;
		}
		.navbar-collapse{
			position: relative;
			margin-top: 0;
			top: 0;
		}
		.shop-i {
			padding-right: 9px;
    		line-height: 23px;
    		margin-right: 0;
		}
	}
	.big-img {
		.big-img-f{
			width: 100%;
		}
		.m-i-b{
			width: 100%;
		}
	}
		/*home*/
}

@media only screen and (min-width: 420px) and (max-width: 568px){
	
}
@media only screen and (min-width: 480px) and (max-width: 768px){
	
}

@media screen and (max-width:480px){
		/*home*/
	.line-header .menu-top{
		width: 75%;
	}
	.navbar-toggle {
	    margin-right: -50px;
	}
	.line-header {
		.navbar-collapse{
			width: 125%;
		}
		.shop-i ul li:first-child {
	    	padding-right: 10px;
	    }
	}
	.btn-in-tab .big-button{
		font-size: 16px;
	}
	.big-img {
		.big-img-f .btn a{
			padding: 8px 30px;
		}
		.info-post{
			h2{
				font-size: 35px;
				line-height: 20px;
			}
			h3{
				font-size: 20px;
			}
		}
		.mini-bg .info-post {
			a{
				font-size: 25px;
			}
		}
	}
	.trend {
		margin-bottom: 25px;
		.tr-text {
			a{
				font-size: 20px;
			}
			.a70{
				font-size: 35px;
			}
		}
		.tr-bottom a{
			padding: 6px 14px;
		}
		.sale{
			width: 100%;
		}
	}
	.info-base{
		width: 100%;
	}
	.tr img{
		width: 100%;
	}
		/*home*/
}

@media screen and (max-width:320px){
	/*home*/
	.line-header .shop-i{
		margin-right: 63px;
	}
	.navbar-toggle {
	    margin-right: -35px;
	}
}