.head-block{
	height: 700px;
	width: 100%;
	background-color: #1d1d1d;
	position: relative;
}
.line-header{
	.menu-top {
		.navbar{
			background-color: #1d1d1d;
			color: #fff;
			border-color: #1d1d1d;
		}
	} 
	.navbar-collapse {
		li{
			a{
				color: #fff;
			}
		}
	}
	.shop-i{
		a{
			color: #fff;
		}
	}
}
